@import "../Sass/Utils/variables";
@import "../Sass/Utils/mixins";
@import "../Sass/Layouts/container";
@import "../Sass/Layouts/header";
@import "../Sass/Layouts/footer";
@import "../Sass/Components/button";
@import "../Sass/Base/typographie";

@media only screen and (max-width : 750px) 
{
    body 
    {
        width: 100%;
    }
    
    /*.headhome{
    &__bloc{
        &--logo 
            {
            width: 12rem;
            }
    }
    }*/

    .fonctions {
        flex-direction: column;
        align-content: center;
        &__choix {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .container {
        flex-direction: column;
        .blocmenu1, .blocmenu3 {
            margin-right: auto;
            
        }
        .blocmenu2, .blocmenu4 {
            margin-left: auto;
        }
        .blocmenu {
            min-width: 89.60%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            @include bordrond;
            &__img {
                width: 100%;
                object-fit: cover;
                object-position: 50% 100%;
                width: 100%;
                height: 9.2rem;
                &--position {
                    object-position: 50% 60%;
                }
            }
        }
    }
    
    .menu {
        flex-direction: column;
        .plats {
        flex-direction: column;
        }
    }
}

@media only screen and (min-width : 430px ) and (max-width : 750px) {
    .container {
        .blocmenu {
            &__img {
                object-position: 50% 65%;
            &--position {
                object-position: 50% 55%;
            }
            }
        }
    }
}
      