@import "./Sass/Responsive";
@import "./Sass/Pages/acceuil";
@import "./Sass/Pages/La\ note\ enchantée";
@import "./Sass/Utils/variables";
@import "./Sass/Utils/mixins";
@import "./Sass/Layouts/container";
@import "./Sass/Layouts/header";
@import "./Sass/Layouts/footer";
@import "./Sass/Components/button";
@import "./Sass/Base/typographie";

body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
	text-decoration: none;
  color: inherit;
}

.nomplat {
  @include underline;
  @media only screen and (min-width: 750px)  {
    margin-left: auto;
    margin-right: auto;
  }
}

/*.icon-heart:before {
  content: "\e901";
  transition: 0.5s;
  background: linear-gradient(360deg, $couleur-primaire, $couleur-secondaire) 0.50s;
}*/

.fa-heart:hover {
    color: $couleur-primaire;
    cursor: pointer;
    pointer-events: all;
}

.fa-heart {
  color: #FFF;
  background-clip: text;
  border-radius: 50%;
  padding:.2em;
}
.fa-heart::before {
  content: "\f004";
  font-weight: bold;
  transition: color 1s ease-out;
}
.fa-heart:hover::before{
  color: $couleur-primaire;
  cursor: pointer;
}

/*#chargementbg {
  position: fixed;
  margin: 0;
  background-color: $couleur-tertiaire;
  z-index: 1000;
  width: 100%;
  height: 100%;
  animation: fadeout 1s ease 2s both;
  #chargementbo {
    font-size: 22px;
    border-bottom : 10px solid $couleur-primaire;
    border-top: 10px solid $couleur-secondaire;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 1.5s ease-in-out infinite, fadeout 1s ease 2s;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    }
  #chargementomf {
    animation: fadeout 1s ease 2s;
    width: 8rem;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
  }
}*/

body {
  z-index: 1;
}

@keyframes fadeout {
  to {
    opacity : 0;
    z-index: -1000;
  }
}

/*@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px $couleur-tertiaire;
  }
}

@keyframes spin{
  0%{
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}



@keyframes fadein {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.menu__plats--1 {
  animation:fadein 1s;
}

.menu__plats--2 {
  animation:fadein 1s;
}

.menu__plats--3 {
  animation:fadein 1s;
}

.menu__plats--4 {
  animation:fadein 1s;
}

.menu__plats--5 {
  animation:fadein 1s;
}

.menu__plats--6 {
  animation:fadein 1s;
}

.menu__plats--7 {
  animation:fadein 1s;
}

.menu__plats--8 {
  animation:fadein 1s;
}

.menu__plats--9 {
  animation:fadein 1s;
}

.menu__plats--10 {
  animation: fadein 1s;
}
