@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.fonctions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.fonctions__choix {
  border: 0 transparent solid;
  border-radius: 17px;
  -webkit-box-shadow: 0 0 0.8rem;
          box-shadow: 0 0 0.8rem;
  font-size: 82%;
  font-weight: bold;
  width: 23rem;
  margin-bottom: 1rem;
  padding: 1.2rem;
  /*width: 80%;*/
}

@media only screen and (min-width: 750px) and (max-width: 960px) {
  .fonctions__choix {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 960px) {
  .fonctions__choix {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }
}

.fonctions__choix__num {
  font-weight: normal;
  font-size: 75%;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  position: relative;
  right: 1.5rem;
}

.fonctions__choix__textico {
  margin: auto;
}

.fonctions__choix__textico span {
  margin-left: -0.7rem;
  margin-right: 0.7rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container .blocmenu1, .container .blocmenu3 {
  margin-left: auto;
  margin-right: 1rem;
  /*@media only screen and (min-width:1280px) 
        {position: relative;
        left: 1.4rem;}*/
}

@media only screen and (max-width: 750px) {
  .container .blocmenu1, .container .blocmenu3 {
    margin-right: auto;
  }
}

.container .blocmenu2, .container .blocmenu4 {
  margin-left: 1rem;
  margin-right: auto;
  /*@media only screen and (min-width:1280px) 
        {position: relative;
        right: 1.4rem;}*/
}

@media only screen and (max-width: 750px) {
  .container .blocmenu2, .container .blocmenu4 {
    margin-left: auto;
  }
}

.container .blocmenu {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-bottom: 0;
  width: 50%;
  height: 13.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0 transparent solid;
  border-radius: 11px;
  -webkit-box-shadow: 0 0 0.5rem;
          box-shadow: 0 0 0.5rem;
}

@media only screen and (min-width: 1280px) {
  .container .blocmenu {
    margin-bottom: 0.3rem;
  }
}

.container .blocmenu__img {
  -o-object-fit: cover;
     object-fit: cover;
  border: 0 transparent solid;
  border-radius: 11px 11px 0 0;
  width: 100%;
  height: 9.2rem;
}

.container .blocmenu__contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .blocmenu__contenu--text {
  margin-left: 0.6rem;
  line-height: 0;
}

.container .blocmenu__contenu--text h4 {
  font-size: 14px;
}

.container .blocmenu__contenu--text p {
  font-size: 13px;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}

.container .blocmenu__contenu--ico {
  font-size: 1.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1.2rem;
  color: black;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 750px) and (max-width: 1053px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__plats {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 23rem;
  border: 0 transparent solid;
  border-radius: 11px;
  -webkit-box-shadow: 0 0 0.5rem;
          box-shadow: 0 0 0.5rem;
  line-height: 0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*p:last-child {
            float: right;
        }*/
}

@media only screen and (min-width: 750px) and (max-width: 1053px) {
  .menu__plats {
    width: 40rem;
  }
}

.headhome {
  text-align: center;
}

.headhome__bloc {
  -webkit-box-shadow: 0 0 0.5rem #9b9b9b;
          box-shadow: 0 0 0.5rem #9b9b9b;
  position: relative;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.headhome__bloc--logo {
  width: 20rem;
}

@media only screen and (max-width: 750px) {
  .headhome__bloc--logo {
    width: 12.5rem;
  }
}

.headhome__lieu {
  color: black;
  background-color: #EAEAEA;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.headhome__lieu span {
  margin-right: 0.5rem;
}

.headhome__text {
  background-color: #F6F6F6;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.headmenu__haut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headmenu__haut--bouton {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
}

.headmenu__haut--logo {
  width: 12rem;
  margin: auto;
}

.headmenu__bas--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 9.4rem;
}

.headmenu__bas--bartitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headmenu__bas--bartitre span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer {
  margin-top: 1rem;
  color: white;
  background-color: #353535;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

footer .omffooter {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-weight: 200;
}

.blocbtn {
  text-align: center;
  margin-bottom: 1rem;
}

.btn {
  -webkit-box-shadow: 0 0 0.5rem #acacac;
          box-shadow: 0 0 0.5rem #acacac;
  color: white;
  border: none;
  padding: 0.65rem;
  border-radius: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(360deg, #9356DC, #FF79DA);
}

/*CSS rules to specify families

font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;*/
@media only screen and (max-width: 750px) {
  body {
    width: 100%;
  }
  /*.headhome{
    &__bloc{
        &--logo 
            {
            width: 12rem;
            }
    }
    }*/
  .fonctions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fonctions__choix {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*position: relative;
        right: 0.83rem;*/
  }
  .container .blocmenu1, .container .blocmenu3 {
    margin-right: auto;
    /*margin-left: auto;*/
  }
  .container .blocmenu2, .container .blocmenu4 {
    margin-left: auto;
    /*margin-right: auto;*/
  }
  .container .blocmenu {
    min-width: 89.60%;
    margin-left: auto;
    margin-right: auto;
    border: 0 transparent solid;
    border-radius: 11px;
    -webkit-box-shadow: 0 0 0.5rem;
            box-shadow: 0 0 0.5rem;
  }
  .container .blocmenu__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 100%;
       object-position: 50% 100%;
    width: 100%;
    height: 9.2rem;
  }
  .container .blocmenu__img--position {
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .plats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 430px) and (max-width: 750px) {
  .container .blocmenu__img {
    -o-object-position: 50% 65%;
       object-position: 50% 65%;
  }
  .container .blocmenu__img--position {
    -o-object-position: 50% 55%;
       object-position: 50% 55%;
  }
}

#nouv1, #nouv2 {
  border: 1.5px green solid;
  width: 4.2rem;
}

#fondmenus {
  background-color: #F6F6F6;
}

.menu__plats--10 {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.fonctions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.fonctions__choix {
  border: 0 transparent solid;
  border-radius: 17px;
  -webkit-box-shadow: 0 0 0.8rem;
          box-shadow: 0 0 0.8rem;
  font-size: 82%;
  font-weight: bold;
  width: 23rem;
  margin-bottom: 1rem;
  padding: 1.2rem;
  /*width: 80%;*/
}

@media only screen and (min-width: 750px) and (max-width: 960px) {
  .fonctions__choix {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 960px) {
  .fonctions__choix {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }
}

.fonctions__choix__num {
  font-weight: normal;
  font-size: 75%;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  position: relative;
  right: 1.5rem;
}

.fonctions__choix__textico {
  margin: auto;
}

.fonctions__choix__textico span {
  margin-left: -0.7rem;
  margin-right: 0.7rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container .blocmenu1, .container .blocmenu3 {
  margin-left: auto;
  margin-right: 1rem;
  /*@media only screen and (min-width:1280px) 
        {position: relative;
        left: 1.4rem;}*/
}

@media only screen and (max-width: 750px) {
  .container .blocmenu1, .container .blocmenu3 {
    margin-right: auto;
  }
}

.container .blocmenu2, .container .blocmenu4 {
  margin-left: 1rem;
  margin-right: auto;
  /*@media only screen and (min-width:1280px) 
        {position: relative;
        right: 1.4rem;}*/
}

@media only screen and (max-width: 750px) {
  .container .blocmenu2, .container .blocmenu4 {
    margin-left: auto;
  }
}

.container .blocmenu {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-bottom: 0;
  width: 50%;
  height: 13.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0 transparent solid;
  border-radius: 11px;
  -webkit-box-shadow: 0 0 0.5rem;
          box-shadow: 0 0 0.5rem;
}

@media only screen and (min-width: 1280px) {
  .container .blocmenu {
    margin-bottom: 0.3rem;
  }
}

.container .blocmenu__img {
  -o-object-fit: cover;
     object-fit: cover;
  border: 0 transparent solid;
  border-radius: 11px 11px 0 0;
  width: 100%;
  height: 9.2rem;
}

.container .blocmenu__contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .blocmenu__contenu--text {
  margin-left: 0.6rem;
  line-height: 0;
}

.container .blocmenu__contenu--text h4 {
  font-size: 14px;
}

.container .blocmenu__contenu--text p {
  font-size: 13px;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}

.container .blocmenu__contenu--ico {
  font-size: 1.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1.2rem;
  color: black;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 750px) and (max-width: 1053px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__plats {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 23rem;
  border: 0 transparent solid;
  border-radius: 11px;
  -webkit-box-shadow: 0 0 0.5rem;
          box-shadow: 0 0 0.5rem;
  line-height: 0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*p:last-child {
            float: right;
        }*/
}

@media only screen and (min-width: 750px) and (max-width: 1053px) {
  .menu__plats {
    width: 40rem;
  }
}

.headhome {
  text-align: center;
}

.headhome__bloc {
  -webkit-box-shadow: 0 0 0.5rem #9b9b9b;
          box-shadow: 0 0 0.5rem #9b9b9b;
  position: relative;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.headhome__bloc--logo {
  width: 20rem;
}

@media only screen and (max-width: 750px) {
  .headhome__bloc--logo {
    width: 12.5rem;
  }
}

.headhome__lieu {
  color: black;
  background-color: #EAEAEA;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.headhome__lieu span {
  margin-right: 0.5rem;
}

.headhome__text {
  background-color: #F6F6F6;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.headmenu__haut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headmenu__haut--bouton {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
}

.headmenu__haut--logo {
  width: 12rem;
  margin: auto;
}

.headmenu__bas--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 9.4rem;
}

.headmenu__bas--bartitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headmenu__bas--bartitre span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer {
  margin-top: 1rem;
  color: white;
  background-color: #353535;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

footer .omffooter {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-weight: 200;
}

.blocbtn {
  text-align: center;
  margin-bottom: 1rem;
}

.btn {
  -webkit-box-shadow: 0 0 0.5rem #acacac;
          box-shadow: 0 0 0.5rem #acacac;
  color: white;
  border: none;
  padding: 0.65rem;
  border-radius: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(360deg, #9356DC, #FF79DA);
}

/*CSS rules to specify families

font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;*/
body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.nomplat {
  border-bottom: 4px solid #99E2D0;
  width: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

/*.icon-heart:before {
  content: "\e901";
  transition: 0.5s;
  background: linear-gradient(360deg, $couleur-primaire, $couleur-secondaire) 0.50s;
}*/
.fa-heart:hover {
  color: #9356DC;
  cursor: pointer;
}

.chargement {
  border-bottom: 10px solid #9356DC;
  border-top: 10px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #99E2D0;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  -webkit-animation: spin 1.5s ease-in-out infinite, fadeout 1s ease-out 3s;
          animation: spin 1.5s ease-in-out infinite, fadeout 1s ease-out 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/
@-webkit-keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 18px #99E2D0;
            box-shadow: 0 0 0 18px #99E2D0;
  }
}
@keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 18px #99E2D0;
            box-shadow: 0 0 0 18px #99E2D0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu__plats--1 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.menu__plats--2 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.menu__plats--3 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.menu__plats--4 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.menu__plats--5 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.menu__plats--6 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.menu__plats--7 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.menu__plats--8 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.menu__plats--9 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.menu__plats--10 {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}
/*# sourceMappingURL=style.css.map */