@import "./Sass/Responsive";
@import "./Sass/Utils/variables";
@import "./Sass/Utils/mixins";
@import "./Sass/Layouts/container";
@import "./Sass/Layouts/header";
@import "./Sass/Layouts/footer";
@import "./Sass/Base/typographie";

body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
	text-decoration: none;
    color:black;
}

ul {
    list-style-type: none;
    padding-left: 0;
  }

footer {
    #omffooter {
        color: white;
        font-family: 'Shrikhand', cursive;
        font-weight: 200;
    }
    color: white;
    background-color: black;
}

@media only screen and (min-width : 321px) and (max-width : 750px) {
    .logo {
        width : 20%;
    }
}