@import "./Sass/Base/typographie";
@import "./Sass/Components/button";
@import "./Sass/Layouts/container";
@import "./Sass/Layouts/header";
@import "./Sass/Layouts/footer";
@import "./Sass/Pages/acceuil";
@import "./Sass/Pages/m2-La-note-enchantée";
@import "./Sass/Pages/m4-le-délice-des-sens";
@import "./Sass/Utils/variables";
@import "./Sass/Utils/mixins";
@import "./Sass/Utils/animation";

body {
  z-index: 1;
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
	text-decoration: none;
  color: inherit;
}

.nomplat {
  @include underline;
  @media only screen and (min-width: 750px) {
    margin-left: auto;
    margin-right: auto;
  }
}