@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.blocbtn {
  text-align: center;
  margin: 2rem 0;
}
.blocbtn .btn {
  padding: 0.75rem 2.3rem 0.75rem 2.3rem;
}

.btn {
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 0 0.5rem #acacac;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 30px;
  background: linear-gradient(354deg, #9356DC, #FF79DA);
}
.btn:hover {
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 2px 10px #929191;
}

.section-pagem {
  background-color: #F6F6F6;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: -1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

@media only screen and (min-width: 950px) {
  .menus {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .menus section {
    width: 32%;
  }
}
.menus .nomplat {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 0.2rem;
  width: 2.1rem;
  margin-top: 1.7rem;
  margin-bottom: 0.4rem;
  margin-left: 0.9rem;
}
@media only screen and (min-width: 540px) and (max-width: 750px) {
  .menus .nomplat {
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    text-align: center;
  }
}
@media only screen and (min-width: 750px) {
  .menus .nomplat {
    text-align: center;
    width: 5rem;
  }
}
@media only screen and (min-width: 540px) {
  .menus .nomplat {
    margin-left: auto;
    margin-right: auto;
  }
  .menus .nomplat--1 {
    width: 3.8rem;
  }
  .menus .nomplat--2 {
    width: 2.8rem;
  }
  .menus .nomplat--3 {
    width: 4.3rem;
  }
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 750px) {
  .menu {
    flex-direction: column;
  }
}
.menu__plats {
  position: relative;
  animation: apparition 5s both;
  opacity: 0;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.143);
  border-radius: 11px;
  width: 93%;
  height: 3.5rem;
  display: flex;
  background-color: white;
  overflow: hidden;
  margin: 0.4rem 0;
}
@media only screen and (min-width: 540px) and (max-width: 950px) {
  .menu__plats {
    width: 85%;
  }
}
.menu__plats:hover {
  cursor: pointer;
}
.menu__plats:hover .menu__plats__select {
  width: 17.5%;
}
.menu__plats:hover .menu__plats__select__ico {
  animation: spin 0.5s;
}
.menu__plats__hp {
  padding-left: 0.6rem;
  align-self: center;
  overflow: hidden;
  flex: 1;
  line-height: 19.5px;
}
.menu__plats__hp h4, .menu__plats__hp p {
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats__hp h4 {
  font-size: 14px;
}
.menu__plats__hp p {
  font-size: small;
}
.menu__plats__prix {
  text-indent: 0.7rem;
  padding-right: 1.4rem;
  margin-bottom: 0.65rem;
  font-size: 13px;
  font-weight: bold;
  align-self: flex-end;
}
.menu__plats__select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  background-color: #99E2D0;
  border-radius: 0 11px 11px 0;
  transition: width 0.5s;
}
.menu__plats__select .cerclecheck {
  font-size: 17.2px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.headhome {
  text-align: center;
}
.headhome__bloc {
  box-shadow: 0 0 0.5rem #9b9b9b;
  position: relative;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.headhome__bloc__logo {
  width: 20rem;
}
@media only screen and (max-width: 750px) {
  .headhome__bloc__logo {
    width: 9rem;
  }
}
.headhome__lieu {
  font-size: 13px;
  font-weight: 500;
  color: black;
  background-color: #EAEAEA;
  padding-top: 1px;
  padding-bottom: 1px;
}
@media only screen and (min-width: 750px) {
  .headhome__lieu {
    font-size: 16px;
  }
}
.headhome__lieu span {
  margin-right: 0.65rem;
}
.headhome__text {
  background-color: #F6F6F6;
  padding-top: 1rem;
  padding-bottom: 2.9rem;
}
.headhome__text__h {
  line-height: 23px;
  font-size: 21px;
  margin-top: 0.9rem;
  margin-bottom: -0.25rem;
}
@media only screen and (max-width: 441px) {
  .headhome__text__h {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
@media only screen and (max-width: 441px) and (min-width: 333px) and (max-width: 377px) {
  .headhome__text__h {
    width: 70%;
  }
}
@media only screen and (max-width: 441px) and (min-width: 377px) and (max-width: 430px) {
  .headhome__text__h {
    width: 60%;
  }
}
@media only screen and (min-width: 750px) {
  .headhome__text__h {
    font-size: 24px;
  }
}
.headhome__text__p {
  line-height: 18px;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media only screen and (max-width: 377px) {
  .headhome__text__p {
    margin-left: auto;
    margin-right: auto;
    width: 93.5%;
  }
}
@media only screen and (min-width: 377px) and (max-width: 430px) {
  .headhome__text__p {
    width: 72%;
  }
}
@media only screen and (min-width: 750px) {
  .headhome__text__p {
    font-size: 18px;
  }
}
.headhome__btn {
  margin-top: 0.5rem;
}

.headmenu {
  position: relative;
}
.headmenu__haut {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  padding-top: 1.1rem;
  padding-bottom: 0.6rem;
  background-color: white;
}
.headmenu__haut__retour {
  color: #353535;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1.05rem;
  left: 1.7rem;
  font-size: 24px;
}
@media only screen and (max-width: 750px) {
  .headmenu__haut__retour {
    font-size: 16.5px;
    position: absolute;
    left: 1.2rem;
  }
}
@media only screen and (min-width: 750px) {
  .headmenu__haut__retour {
    top: 1.275rem;
  }
}
.headmenu__haut__logo {
  width: 14rem;
  margin: auto;
}
@media only screen and (max-width: 750px) {
  .headmenu__haut__logo {
    width: 8.3rem;
  }
}
.headmenu__bas__img {
  object-fit: cover;
  width: 100%;
  height: 12rem;
}
@media only screen and (min-width: 750px) {
  .headmenu__bas__img {
    height: 30rem;
  }
}
.headmenu__bas__bartitre {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "shrikhand";
  background-color: #F6F6F6;
  z-index: 100;
  margin-top: -2rem;
  margin-bottom: -2.5rem;
  padding: 0.5rem 1.5rem 0 0.9rem;
  border: solid transparent;
  border-radius: 30px 30px 0 0;
}
@media only screen and (min-width: 540px) and (max-width: 750px) {
  .headmenu__bas__bartitre {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media only screen and (min-width: 1400px) {
  .headmenu__bas__bartitre {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
    padding: 0;
    border: transparent;
  }
}
.headmenu__bas__bartitre__h1 {
  font-weight: 400;
  font-size: 32px;
}
@media only screen and (max-width: 750px) {
  .headmenu__bas__bartitre__h1 {
    font-size: 23px;
  }
}
@media only screen and (min-width: 750px) {
  .headmenu__bas__bartitre {
    font-size: 15px;
    justify-content: space-evenly;
  }
}
.headmenu__bas__bartitre__ico {
  position: relative;
  font-size: 22px;
  align-self: center;
}
@media only screen and (min-width: 750px) {
  .headmenu__bas__bartitre__ico {
    font-size: 32px;
    justify-content: space-evenly;
  }
}
.headmenu__bas__bartitre__ico__vide {
  color: black;
}
.headmenu__bas__bartitre__ico__rempli {
  z-index: 0;
}
.headmenu__bas__bartitre__ico__rempli--position {
  position: absolute;
  left: 0;
  bottom: 0.6rem;
}
@media only screen and (max-width: 750px) {
  .headmenu__bas__bartitre__ico__rempli--position {
    bottom: 0.45rem;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  line-height: 22px;
  margin-top: 1rem;
  color: white;
  background-color: #353535;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  height: 7.5rem;
}
@media only screen and (max-width: 750px) {
  .footer {
    padding-left: 1.15rem;
  }
}
.footer--acceuil {
  margin-top: 1.9rem;
}
.footer__omf {
  margin-top: 0.6rem;
  font-size: 30px;
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 200;
}
@media only screen and (max-width: 750px) {
  .footer__omf {
    font-size: 15px;
  }
}
.footer__grille {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: -0.3rem;
}
.footer__grille span {
  margin-right: 0.4rem;
}
.footer__grille__pr {
  cursor: pointer;
}
.footer__grille__dp {
  cursor: pointer;
}
.footer__grille__ml {
  cursor: pointer;
}
.footer__grille .mains {
  font-size: 11px;
}

@media only screen and (min-width: 750px) {
  .footer {
    padding-bottom: 3rem;
  }
  .footer__omf {
    position: relative;
    right: 0.7rem;
    text-align: center;
    margin-top: 1.5rem;
  }
  .footer__grille {
    position: relative;
    font-size: 15px;
    padding-left: 2%;
    margin-top: 3rem;
    display: grid;
    grid-template: 25% 25% 25% 25%/25% 25% 25% 25%;
  }
  .footer__grille__pr {
    grid-column: 1;
    position: absolute;
    left: 2rem;
  }
  .footer__grille__dp {
    grid-column: 2;
    position: absolute;
    left: 5rem;
  }
  .footer__grille__ml {
    grid-column: 3;
    position: absolute;
    left: 5rem;
  }
  .footer__grille__c {
    grid-column: 4;
    position: absolute;
    left: 4rem;
  }
}
.fonctions {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 750px) {
  .fonctions {
    flex-direction: column;
    align-content: center;
  }
}
@media only screen and (max-width: 810px) {
  .fonctions {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
}
.fonctions__choix {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  padding: 1.2rem;
  vertical-align: text-top;
  height: 1.4rem;
  font-size: 82%;
  font-weight: bold;
  width: 78%;
  border: 0 transparent solid;
  border-radius: 17px;
  box-shadow: 0 2px 0.6rem #afafaf;
}
@media only screen and (max-width: 520px) {
  .fonctions__choix {
    position: relative;
    left: 0.3rem;
    width: 77%;
  }
}
@media only screen and (min-width: 810px) {
  .fonctions__choix {
    width: 24%;
  }
}
.fonctions__choix:hover {
  cursor: pointer;
  background-color: #F5EDFF;
}
.fonctions__choix:hover .fonctico {
  color: #9356DC;
}
.fonctions__choix__num {
  position: relative;
  right: 1.8rem;
  font-weight: normal;
  font-size: 75%;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.25rem;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
}
.fonctions__choix__textico {
  text-align: center;
}
.fonctions__choix__textico--mobile {
  font-size: 18px;
  color: #7E7E7E;
  margin-left: -0.7rem;
  margin-right: 0.7rem;
}
.fonctions__choix__textico--list {
  font-size: 14px;
  color: #7E7E7E;
  margin-left: -0.7rem;
  margin-right: 0.7rem;
}
.fonctions__choix__textico--store {
  font-size: 14px;
  color: #7E7E7E;
  margin-left: -0.7rem;
  margin-right: 0.7rem;
}

#section-bgmain {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #F6F6F6;
  padding-bottom: 2rem;
  margin-bottom: -2rem;
}
@media only screen and (min-width: 1400px) {
  #section-bgmain {
    border-radius: 20px 20px 0 0;
  }
}

.titreh3 {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}
.titreh3--fonc {
  padding-top: 1rem;
}
@media only screen and (min-width: 810px) {
  .titreh3--fonc {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }
}
.titreh3--rest {
  padding-top: 2.5rem;
}
@media only screen and (max-width: 550px) {
  .titreh3 {
    text-align: start;
    padding-left: 1rem;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}
.container .blocmenu1, .container .blocmenu3 {
  margin-left: auto;
  margin-right: 1rem;
}
@media only screen and (max-width: 750px) {
  .container .blocmenu1, .container .blocmenu3 {
    margin-right: auto;
  }
}
.container .blocmenu2, .container .blocmenu4 {
  margin-left: 1rem;
  margin-right: auto;
}
@media only screen and (max-width: 750px) {
  .container .blocmenu2, .container .blocmenu4 {
    margin-left: auto;
  }
}
.container .blocmenu {
  position: relative;
  width: 50%;
  height: 13.3rem;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin-bottom: 1.7rem;
  border: 0 transparent solid;
  border-radius: 11px;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.143);
}
@media only screen and (min-width: 750px) {
  .container .blocmenu {
    height: 16rem;
  }
}
@media only screen and (max-width: 750px) {
  .container .blocmenu {
    min-width: 89.6%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.05rem;
  }
}
.container .blocmenu__img {
  object-fit: cover;
  border: 0 transparent solid;
  border-radius: 11px 11px 0 0;
  width: 100%;
  height: 9.1rem;
}
@media only screen and (min-width: 750px) {
  .container .blocmenu__img {
    height: 12.1rem;
  }
}
@media only screen and (min-width: 430px) and (max-width: 750px) {
  .container .blocmenu__img {
    object-position: 50% 65%;
  }
  .container .blocmenu__img--position {
    object-position: 50% 55%;
  }
}
@media only screen and (max-width: 400px) {
  .container .blocmenu__img--position1 {
    object-position: 50% 100%;
  }
}
.container .blocmenu__img--position2 {
  object-position: 50% 60%;
}
.container .blocmenu__img--position3 {
  object-position: 50% 100%;
}
@media only screen and (min-width: 400px) {
  .container .blocmenu__img--position3 {
    object-position: 50% 64%;
  }
}
@media only screen and (max-width: 400px) {
  .container .blocmenu__img--position3 {
    object-position: 50% 100%;
  }
}
@media only screen and (min-width: 1060px) {
  .container .blocmenu__img--position3 {
    object-position: 50% 78%;
  }
}
.container .blocmenu__img--position4 {
  object-position: 50% 100%;
}
@media only screen and (max-width: 400px) {
  .container .blocmenu__img--position4 {
    object-position: 50% 96%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 750px) {
  .container .blocmenu__img--position4 {
    object-position: 50% 75%;
  }
}
@media only screen and (min-width: 1200px) {
  .container .blocmenu__img--position4 {
    object-position: 50% 77.5%;
  }
}
.container .blocmenu__contenu {
  display: flex;
  justify-content: space-between;
}
.container .blocmenu__contenu__text {
  margin-left: 0.6rem;
  line-height: 0;
}
.container .blocmenu__contenu__text h4 {
  font-size: 14px;
}
.container .blocmenu__contenu__text p {
  font-size: 13px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
.container .blocmenu__contenu__ico {
  font-size: 1.3rem;
  align-self: center;
  margin-right: 1.2rem;
}
@media only screen and (min-width: 750px) {
  .container .blocmenu__contenu__ico {
    font-size: 1.55rem;
    padding-right: 0.3rem;
  }
}
.container .blocmenu__contenu__ico__vide {
  color: black;
}
.container .blocmenu__contenu__ico__rempli--position {
  position: absolute;
  right: 0;
}
.container .blocmenu__nouv {
  position: absolute;
  right: 0.6rem;
  bottom: 10rem;
  color: #008766;
  background-color: #99E2D0;
  border: 1.5px #008766;
  width: 4.2rem;
  border-radius: 2px;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  padding-top: 7px;
  padding-bottom: 5px;
}
@media only screen and (min-width: 750px) {
  .container .blocmenu__nouv {
    bottom: 13.15rem;
  }
}

.headmenu__bas__img--position {
  object-position: 50% 90%;
}
@media only screen and (max-width: 520px) {
  .headmenu__bas__img--position {
    object-position: 50% 100%;
  }
}
@media only screen and (min-width: 520px) and (max-width: 750px) {
  .headmenu__bas__img--position {
    object-position: 50% 80%;
  }
}

#chargementbg {
  position: fixed;
  margin: 0;
  background-color: #99E2D0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  animation: fadeout 1s ease 2s both;
}
#chargementbg #chargementbo {
  font-size: 22px;
  border-bottom: 10px solid #9356DC;
  border-top: 10px solid #FF79DA;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 1.5s ease-in-out infinite, fadeout 1s ease 2s;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#chargementbg #chargementomf {
  animation: fadeout 1s ease 2s;
  width: 8rem;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  to {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.delai-0 {
  animation-delay: 0s;
}

.delai-1 {
  animation-delay: 0.25s;
}

.delai-2 {
  animation-delay: 0.5s;
}

.delai-3 {
  animation-delay: 0.75s;
}

.delai-4 {
  animation-delay: 1s;
}

.delai-5 {
  animation-delay: 1.25s;
}

.delai-6 {
  animation-delay: 1.5s;
}

.delai-7 {
  animation-delay: 1.75s;
}

.delai-8 {
  animation-delay: 2s;
}

.delai-9 {
  animation-delay: 2.25s;
}

.delai-10 {
  animation-delay: 2.5s;
}

@keyframes check {
  0% {
    width: 0%;
  }
  100% {
    width: 17%;
  }
}
.icocoeur {
  position: relative;
  z-index: 1;
  background-color: #F6F6F6;
}
.icocoeur:hover {
  opacity: 0;
  transition: 0.8s;
  cursor: pointer;
}

.icocoeur2 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
}

body {
  z-index: 1;
  background-color: white;
  margin: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
