 @import "../Utils/mixins";

.blocbtn {
    text-align: center;
    margin: 2rem 0;
    .btn {
        padding: 0.75rem 2.3rem 0.75rem 2.3rem;
    }
}

.btn {
    @include btn1;
    &:hover {
        background: linear-gradient(#ff93e1, #a16be0);
        box-shadow: 0 2px 10px #929191;
        }
}
