
.fonctions {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
  /*margin-left: 0.4rem;
  margin-right: 0.4rem;*/
  margin-bottom: 2.5rem;
  @include RSmob {
      flex-direction: column;
      align-content: center;
  }
  @media only screen and (max-width: 810px) {
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      /*margin-left: 0.5rem;
      margin-right: 0.5rem;*/
  }
  &__choix {
      background-color: $gris1;
      display: flex;
      align-items: center;
      margin-top: 0.3rem;
      margin-bottom: 1rem;
      padding: 1.2rem;
      @include fonctbord;
      /*@media only screen and (min-width: 810px) {
          margin-left: 1rem;
          margin-right: 1rem;
      }*/
      /*@include RSmob {
          margin-left: auto;
          margin-right: auto;
      }*/
      &:hover {
          cursor: pointer;
          background-color: $couleur-fonction;
          .fonctico{
              color: $couleur-primaire;
          }
      }
      &__num {
          @include bordnum;
      }
      &__textico {
          text-align: center;
          &--mobile {
              font-size: 18px;
              color: $couleur-icofonct;
              margin-left: -0.7rem;
              margin-right: 0.7rem;
          }
          &--list {
              font-size: 14px;
              color: $couleur-icofonct;
              margin-left: -0.7rem;
              margin-right: 0.7rem;
          }
          &--store {
              font-size: 14px;
              color: $couleur-icofonct;
              margin-left: -0.7rem;
              margin-right: 0.7rem;
          }
      }
  }
}
  
#bgblcmenus {
    max-width: 1400px;
    margin: 0 auto;
    background-color: $gris1;
    padding-bottom: 2rem;
    margin-bottom: -2rem;
    @include bglarge;
}

.titreh3 {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    &--fonc {
        padding-top: 1rem;
    }
    &--rest {
        padding-top: 2.5rem;
    }
    @media only screen and (max-width: 550px) {
        text-align: start;
        padding-left: 1rem;
    }
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include RSmob {
      flex-direction: column;
}
    .blocmenu1, .blocmenu3 {
        margin-left: auto;
        margin-right: 1rem;
        @include RSmob {
        margin-right: auto;
    }
}
    .blocmenu2, .blocmenu4 {
        margin-left: 1rem;
        margin-right: auto;
        @include RSmob {
            margin-left: auto;
    }
}
    .blocmenu {
        position: relative;
        width: 50%;
        height: 13.3rem;
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        margin-bottom: 1.7rem;
        @include bordrond;
        @include RSdesk {
        height: 16rem;
        }
        @include RSmob {
            min-width: 89.60%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.05rem;
        }
        &__img {
            object-fit: cover;
            @include bordrond2;
            width: 100%;
            height: 9.1rem;
            @include RSdesk {
            height: 12.1rem;
            }
            @media only screen and (min-width : 430px ) and (max-width : 750px) {
                object-position: 50% 65%;
                &--position {
                    object-position: 50% 55%;
                }
            }
            &--position1 {
                @media only screen and (max-width:400px) {
                    object-position: 50% 100%;
                }
            }
            &--position2 {
                object-position: 50% 60%;
            }
            &--position3 {
                object-position: 50% 100%;
                @media only screen and (min-width:400px) {
                    object-position: 50% 64%;
                }
                @media only screen and (max-width:400px) {
                    object-position: 50% 100%;
                }
                @media only screen and (min-width:1060px) {
                    object-position: 50% 78%;
                }
            }
            &--position4 {
                object-position: 50% 100%;
                @media only screen and (max-width:400px) {
                    object-position: 50% 96%;
                }
                @media only screen and (min-width:400px) and (max-width:750px) {
                    object-position: 50% 75%;
                }
                @media only screen and (min-width:1200px) {
                    object-position: 50% 77.5%;
                }
            }
        }
        &__contenu {
            display: flex;
            justify-content: space-between;
            &__text {
                margin-left: 0.6rem;
                line-height: 0;
                h4 {
                    font-size: 14px;
                }
                p {
                    font-size: 13px;
                    font-family: 'roboto', sans-serif;
                    font-weight: 400;
                    margin-bottom: 1.2rem;
                }
            }
            &__icos {
                margin-right: 1rem;
                @include icos;
                @include RSdesk {
                    font-size: 26px;
                    margin-bottom: 0.3rem;
                }
                &:hover::before {
                    opacity: 1;
                }
                &::before {
                    @include icos-before;
                }
                &__coeur {
                    @include coeur;
                }
            }
            &__icos:hover {
                .coeur {
                    &--coeur1 {
                        opacity: 0;
                    }
                }
            }
        }
        &__nouv {
            @include nouv;
        }
    }
}