
#chargementbg {
  position: fixed;
  margin: 0;
  background-color: $couleur-tertiaire;
  z-index: 1000;
  width: 100%;
  height: 100%;
  animation: fadeout 1s ease 2s both;
  #chargementbo {
    font-size: 22px;
    border-bottom : 10px solid $couleur-primaire;
    border-top: 10px solid $couleur-secondaire;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 1.5s ease-in-out infinite, fadeout 1s ease 2s;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    }
  #chargementomf {
    animation: fadeout 1s ease 2s;
    width: 8rem;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
  }
}

@keyframes check {
    0% {
      width: 0%;
    }
  
    100% {
      width: 17%;
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  /*@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

@keyframes fadeout {
    to {
      opacity : 0;
      z-index: -1000;
    }
  }
  
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  
@keyframes fadein {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
  
.menu__plats--1 {
    animation:fadein 1s;
 }
  
.menu__plats--2 {
    animation:fadein 1s;
}
  
.menu__plats--3 {
    animation:fadein 1s;
}
  
.menu__plats--4 {
    animation:fadein 1s;
}
  
.menu__plats--5 {
    animation:fadein 1s;
}
  
.menu__plats--6 {
    animation:fadein 1s;
}
  
.menu__plats--7 {
    animation:fadein 1s;
}
  
.menu__plats--8 {
    animation:fadein 1s;
}
  
.menu__plats--9 {
    animation:fadein 1s;
}
  
.menu__plats--10 {
    animation: fadein 1s;
 }
  