@import "../Utils/variables";

@mixin bordrond {
    border: 0 transparent solid;
    border-radius: 11px;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.143);
}

@mixin bordrond2 {
    border: 0 transparent solid;
    border-radius: 11px 11px 0 0;
}

@mixin bordrond3 {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.143);
    border-radius: 11px;
    width: 93%;
    height: 3.5rem;
}

@mixin fonctbord {
    vertical-align: text-top;
    height: 1.4rem;
    font-size: 82%;
    font-weight: bold;
    width: 78%;
    border: 0 transparent solid;
    border-radius: 17px;
    box-shadow: 0 2px 0.6rem rgb(175, 175, 175);
    @media only screen and (max-width: 520px) {
        position: relative; left: 0.3rem;
        width: 77%;
    }
    @media only screen and (min-width: 985px) {
        width: 22%;
    }
    @media only screen and (min-width: 810px) and (max-width: 985px) {
        width: 25%;
    }
}

@mixin bordnum {
    position: relative;
    right: 1.8rem;
    font-weight: normal;
    font-size: 75%;
    color: white;
    background-color: $couleur-primaire;
    border-radius: 50%;
    padding: 0.25rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}

@mixin underline {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 3px solid $couleur-tertiaire;
    padding-bottom: 0.2rem;
    width: 2.1rem;
    margin-top: 1.7rem;
    margin-bottom: 0.4rem;
    margin-left: 0.9rem;
    @media only screen and (min-width: 540px) and (max-width: 750px) {
        margin-left: auto;
        margin-right: auto;
        width: 5rem;
        text-align: center;
    }
    @media only screen and (min-width: 750px) {
        text-align: center;
        width: 5rem;
    }
    
}

@mixin btn1 {
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 0 0.5rem rgb(172, 172, 172);
    color: white;
    border: none;
    padding : 0.75rem;
    border-radius: 30px;
    background: linear-gradient(354deg, $couleur-primaire, $couleur-secondaire);
    &:hover {
        cursor: pointer;
    }
}

@mixin nouv {
    position: absolute;
    right: 0.6rem; bottom: 10rem;
    color: $couleur-nouv;
    background-color: $couleur-tertiaire;
    border: 1.5px $couleur-nouv;
    width: 4.2rem;
    border-radius: 2px;
    font-size: 11px;
    text-align: center;
    font-weight: 500;
    padding-top: 7px;
    padding-bottom: 5px;
    @media only screen and (min-width: 750px) {
        bottom: 13.15rem;
    }
}
  
@mixin animenu {
    animation: apparition 5s both;
    opacity: 0;
}

@mixin RSmob {
    @media only screen and (max-width: 750px) {
        @content;
    }
}

@mixin RSdesk {
    @media only screen and (min-width: 750px) {
        @content;
    }
}
