@mixin bordrond {
    border: 0 transparent solid;
    border-radius: 11px;
    box-shadow: 0 0 0.5rem;
}

@mixin bordrond2{
    border: 0 transparent solid;
    border-radius: 11px 11px 0 0;
}

@mixin fonctbord{
    border: 0 transparent solid;
    border-radius: 15px;
    box-shadow: 0 0 0.8rem;
}

@mixin underline {
    border-bottom: 3px solid $couleur-tertiaire;
}

@mixin btn1 {
    padding : 0.65rem;
    border-radius: 30px;
}

@mixin nouv {
    border: 1.5px green solid;
    width: 4.2rem;
}