@mixin bordrond {
    border: 0 transparent solid;
    border-radius: 11px;
    box-shadow: 0 0 0.5rem;
}

@mixin bordrond2{
    border: 0 transparent solid;
    border-radius: 11px 11px 0 0;
}

@mixin fonctbord{
    border: 0 transparent solid;
    border-radius: 17px;
    box-shadow: 0 0 0.8rem;
}

@mixin bordnum {
    font-weight: normal;
    font-size: 75%;
    color: white;
    background-color: $couleur-primaire;
    border-radius: 50%;
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

@mixin underline {
    border-bottom: 4px solid $couleur-tertiaire;
    width: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

@mixin btn1 {
    box-shadow: 0 0 0.5rem rgb(172, 172, 172);
    color: white;
    border: none;
    padding : 0.65rem;
    border-radius: 30px;
    background: linear-gradient(360deg, $couleur-primaire, $couleur-secondaire);
}

@mixin nouv {
    border: 1.5px green solid;
    width: 4.2rem;
}