.fonctions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    &__choix {
        @include fonctbord;
        font-size: 82%;
        font-weight: bold;
        width: 23rem;
        @media only screen and (min-width: 750px) and (max-width: 960px) 
        {margin-left: 0.5rem;
        margin-right: 0.5rem;}
        @media only screen and (min-width: 960px)
        {margin-left: 0.7rem;
        margin-right: 0.7rem;}
        margin-bottom: 1rem;
        padding: 1.2rem;
        /*width: 80%;*/
        &__num {
            @include bordnum;
            position: relative;
            right: 1.5rem;
        }
        &__textico {
            margin: auto;
            span {
                margin-left: -0.7rem;
                margin-right: 0.7rem;
            }
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    .blocmenu1, .blocmenu3 {
        margin-left: auto;
        margin-right: 1rem;
        @media only screen and (max-width: 750px) 
        {margin-right: auto;}
        /*@media only screen and (min-width:1280px) 
        {position: relative;
        left: 1.4rem;}*/
    }
    .blocmenu2, .blocmenu4 {
        margin-left: 1rem;
        margin-right: auto;
        @media only screen and (max-width:750px) 
        {margin-left: auto;}
        /*@media only screen and (min-width:1280px) 
        {position: relative;
        right: 1.4rem;}*/
    }

    .blocmenu {
        flex-basis: 40%;
        margin-bottom: 0;
        @media only screen and (min-width:1280px) 
        {margin-bottom: 0.3rem;}
        width: 50%;
        height: 13.3rem;
        display: flex;
        flex-direction: column;
        @include bordrond;
        &__img {
            object-fit: cover;
            @include bordrond2;
            width: 100%;
            height: 9.2rem;
        }
        &__contenu {
            display: flex;
            justify-content: space-between;
            &--text {
                margin-left: 0.6rem;
                line-height: 0;
                h4 {
                font-size: 14px;
            }
            p {
                font-size: 13px;
                font-family: 'roboto', sans-serif;
                font-weight: 400;
            }
        }
            &--ico {
                font-size: 1.3rem;
                align-self: center;
                margin-right: 1.2rem;
                color: black;
      }
    }
    }
}

.menu {
    display: flex;
    justify-content: center;
    @media only screen and (min-width: 750px) and (max-width: 1053px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__plats {
        @media only screen and (min-width: 750px) and (max-width: 1053px) {
        width: 40rem;
    }
        margin-right: 1rem;
        margin-left: 1rem;
        width: 23rem;
        @include bordrond;
        line-height: 0;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        /*p:last-child {
            float: right;
        }*/
        }
}