footer {
    margin-top: 1rem;
    color: white;
    background-color: $couleur-footer;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    .omffooter {
        color: white;
        font-family: 'Shrikhand', cursive;
        font-weight: 200;
        
    }
}