.headhome {
    text-align: center;
    &__logo {
        width: 20rem;
        @media only screen and (min-width : 321px) and (max-width : 750px) {
            width: 12.5rem;
        }/**/
    }
    &__lieu {
        color: black;
        background-color: $gris2;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        span {
            margin-right: 0.5rem;
        }
    }
    &__text {
            background-color: $gris1;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
}

.headmenu {
    &__haut {
        display: flex;
        &--bouton {
            border: none;
            background-color: transparent;
        }
        &--logo {
            width: 12rem;
        }
    }
    &__bas {
    &--img {
        object-fit: cover;
        width: 100%;
        height: 9.4rem;
    }
    &--bartitre {
        display: flex;
        justify-content: space-around;
        span {
            align-self: center;
        }
    }
}
}
