.headhome {
    text-align: center;
    &__bloc {
        box-shadow: 0 0 0.5rem rgb(155, 155, 155);
        position: relative;
        z-index: 100;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        &__logo {
        width: 20rem;
        @include RSmob {
            width: 9rem;
        }
        }
    }
    &__lieu {
        font-size: 13px;
        font-weight: 500;
        color: black;
        background-color: $gris2;
        padding-top: 1px;
        padding-bottom: 1px;
        @include RSdesk {
            font-size: 16px;
         }
        span {
            margin-right: 0.65rem;
        }
    }
    &__text {
        background-color: $gris1;
        padding-top: 1rem;
        padding-bottom: 2.9rem;
        &__h {
            line-height: 23px;
            font-size: 21px;
            margin-top: 0.9rem;
            margin-bottom: -0.25rem;
            @media only screen and (max-width : 441px) {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                @media only screen and (min-width: 333px) and (max-width: 377px) {
                    width: 70%;
                }
                @media only screen and (min-width:377px) and (max-width:430px) {
                    width: 60%;
                }
            }
            @include RSdesk {
                font-size: 24px;
             } 
        }
        &__p {
            line-height: 18px;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 1rem;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            @media only screen and (max-width : 377px) {
                margin-left: auto;
                margin-right: auto;
                width: 93.5%;
            }
            @media only screen and (min-width:377px) and (max-width:430px) {
                width: 72%;
            }
            @include RSdesk {
                font-size: 18px;
             }
        }
    }
    &__btn {
        margin-top: 0.5rem;
    } 
}
.headmenu {
    position: relative;
    &__haut {
        position: relative;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        padding-top: 1.1rem;
        padding-bottom: 0.6rem;
        background-color: white;
        &__retour {
            color: $couleur-quaternaire;
            border: none;
            background-color: transparent;
            position: absolute;
            top: 1.05rem;
            left: 1.7rem;
            font-size: 24px;
            @include RSmob {
                font-size: 16.5px;
                position: absolute;
                left: 1.2rem;
            }
            @include RSdesk {
                top: 1.275rem;
            }
        }
        &__logo {
            width: 14rem;
            margin: auto;
            @include RSmob {
               width: 8.3rem;
            }
        }
    }
    &__bas {
    &__img {
        object-fit: cover;
        width: 100%;
        height: 12rem;
        @include RSdesk {
            height: 30rem;
        }
        
    }
    &__bartitre {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'shrikhand';
        background-color: $gris1;
        z-index: 100;
        margin-top: -2rem;
        margin-bottom: -2.5rem;
        padding: 0.5rem 1.5rem 0 0.9rem;
        border: solid transparent;
        border-radius: 30px 30px 0 0;
        @media only screen and (min-width: 540px) and (max-width: 750px) {
            padding-left: 8%;
            padding-right: 8%;
        }
        @media only screen and (min-width:1400px) {
            margin-right: auto;
            margin-left: auto;
            max-width: 1400px;
            padding: 0;
            border: transparent;  
        }
        &__h1 {
            font-weight: 400;
            font-size: 32px;
            @include RSmob {
            font-size: 23px;
            }
        }
        @include RSdesk {
            font-size: 15px;
            justify-content: space-evenly;
        }
        &__ico {
            position: relative;
            font-size: 22px;
            align-self: center;
            @include RSdesk {
                font-size: 32px;
                justify-content: space-evenly;
            }
            &__vide {
                color: black;
            }
            &__rempli {
                z-index: 0;
                &--position {
                position: absolute;
                left: 0; bottom: 0.6rem;
                @include RSmob {
                    bottom: 0.45rem;
                }
                }
            }
        }
    }
    }
}
