.bgpagem {
    background-color: $gris1;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: -1.5rem;
}

.menus {
    @media only screen and (min-width: 1052px) {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    section {
        width: 32%;
    }
    }
    .nomplat {
        @include underline;
        @media only screen and (min-width: 540px) {
            margin-left: auto;
            margin-right: auto;
            &--1 {
                width: 3.8rem;
            }
            &--2 {
                width: 2.8rem;
            }
            &--3 {
                width: 4.3rem;
            }
        }
      }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include RSmob {
        flex-direction: column;
    }
    &__plats {
        @include animenu;
        @include bordrond3;
        display: flex;
        background-color: white;
        overflow: hidden;
        margin: 0.4rem 0;
        @media only screen and (min-width: 540px) and (max-width: 1053px) {
            width: 85%;
        }
        &:hover {
            cursor: pointer;
            }
        
        &:hover &__selection {
                animation: check 0.6s forwards;
                i {
                    animation: rotate 0.75s forwards;
                }
        }
        &__hp {
            padding-left: 0.6rem;
            align-self: center;
            overflow: hidden;
            flex: 1;
            line-height: 19.5px;;
            h4, p {
            margin: 0;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            }
            h4 {
                font-size: 14px;
            }
            p {
                font-size: small;
            }
        }
        &__prix {
            text-indent: 0.7rem;
            padding-right: 1.4rem;
            margin-bottom: 0.65rem;
            font-size: 13px;
            font-weight: bold;
            align-self: flex-end;
        }
        &__selection {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0%;
            background-color: $couleur-tertiaire;
            border-radius: 0 11px 11px 0;
            i {
                font-size: 17.2px;
                color: white;
                opacity: 0;
            }
        }
        
    }
}